@{
    ViewBag.Title = "Error";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        img {
            max-width: 100%;
            height: auto;
        }

        body {
            background-color: #5d161a;
        }

        .rectangle {
            background-color: red;
        }

        .categ {
            width: 200px;
            background-color: red;
        }

        .rectitle {
            background-color: darkgoldenrod;
        }

        .button {
            background-color: red; /* Green */
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            width: 100px;
        }

            .button:hover {
                background-color: black;
            }


        .button1 {
            font-size: 10px;
        }



        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 500px;
            margin: auto;
            text-align: center;
            font-family: arial;
            padding: 8px;
        }

        .price {
            color: white;
            font-size: 15px;
        }

        .namee {
            color: white;
        }

        .card button {
            border: none;
            outline: 0;
            padding: 8px;
            color: white;
            background-color: goldenrod;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 10px;
        }

            .card button:hover {
                opacity: 0.7;
            }

        .card dee {
            border: none;
            outline: 0;
            padding: 8px;
            color: white;
            background-color: forestgreen;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 10px;
        }

            .card dee:hover {
                opacity: 0.7;
            }
    </style>
</head>


<body>

    <div class="rectangle" align="center" style="margin-top:-8px; margin-left:50px;">
        <div class="rectitle" style="height:30px">
            <div align="center"><h3>Error </h3> </div>
        </div>
        
        <h1 style="color:white;font-size:90px">
            Error
        </h1>
        <h2 style="color:white">
            WE HAD AN ERROR TRYING TO PROCESS YOUR REQUEST
            <br />
            PLEASE REVIEW YOUR REQUEST AND  CHECK BACK LATER
        </h2>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

    </div>

    <hr />


</body>
</html>