
@{
    ViewBag.Title = "AddMeeting";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Add Meeting</h2>
<div style="color:black;margin-left:200px">

    <br />
    <br />

    @ViewBag.Host
    <br />

    <br />
    @ViewBag.Join
    <br />
    <br />

    @ViewBag.Code
</div>
