
@{
    ViewBag.Title = "Home Page"; Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@Scripts.Render("~/bundles/jquery")

<style type="text/css">
    /* Flipping the video as it was not mirror view */
    video {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        margin-top: 1px;
    }

    /* Flipping the canvas image as it was not mirror view */
    #canvas {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }
</style>

<div class="jumbotron" style="margin-top:1px;padding:1px;">
    <p><span id="errorMsg"></span></p>
    <div class="row">
        <div align="center">
            <!-- Here we streaming video from webcam -->
            <h4>
                <button class="btn btn-primary" id="btnCapture">Capture</button>
            </h4>
            <video id="video" playsinline autoplay></video>
        </div>

        <div style="display:none;position:absolute">

            <!-- Webcam video snapshot -->
            <canvas style="border:solid 1px #ddd;background-color:white;" id="canvas" width="300" height="300"></canvas>
        </div>
    </div>
</div>

<script type="text/javascript">
    var video = document.querySelector("#video");

    // Basic settings for the video to get from Webcam
    const constraints = {
        audio: false,
        video: {
            width: 300, height: 300
        },
        facingMode: { exact: "environment" },
    };

    // This condition will ask permission to user for Webcam access
    if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia(constraints)
            .then(function (stream) {
                video.srcObject = stream;
            })
            .catch(function (err0r) {
                console.log("Something went wrong!");
            });
    }



</script>

<script type="text/javascript">
    // Below code to capture image from Video tag (Webcam streaming)
    $("#btnCapture").click(function () {
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');

        // Capture the image into canvas from Webcam streaming Video element
        context.drawImage(video, 0, 0);



        // Below new canvas to generate flip/mirron image from existing canvas
        var destinationCanvas = document.createElement("canvas");
        var destCtx = destinationCanvas.getContext('2d');


        destinationCanvas.height = 300;
        destinationCanvas.width = 300;

        destCtx.translate(video.videoWidth, 0);
        destCtx.scale(-1, 1);
        destCtx.drawImage(document.getElementById("canvas"), 0, 0);

        // Get base64 data to send to server for upload
        var imagebase64data = destinationCanvas.toDataURL("image/png");
        imagebase64data = imagebase64data.replace('data:image/png;base64,', '');
        $.ajax({
            type: 'POST',
            url: '/Admin/Admin/GetCapture',
            data: '{ "imageData" : "' + imagebase64data + '" }',
            contentType: 'application/json; charset=utf-8',
            dataType: 'text',
            success: function (out) {
            }
        });
    });
</script>